<h1>Add a new contact</h1>

<form>
  <div>
    <label for="contact_name">Name</label>
    <br>
    <input type="text" name="contact[name]" id="contact_name">
  </div>
  <br>

  <div>
    <label for="contact_address">Address</label>
    <br>
    <textarea name="contact[address]" id="contact_address"></textarea>
  </div>
  <br>

  <div>
    <label for="contact_phone">Phone number</label>
    <br>
    <input type="tel" name="contact[phone]" id="contact_phone">
  </div>
  <br>

  <div>
    <label for="contact_email">Email</label>
    <br>
    <input type="email" name="contact[email]" id="contact_email">
  </div>
</form>