<h3> <%=@contacts.name%> </h3>


<p><b>Address:</b></p>
<%= @contacts.address %>



<p><b>Phone Number:</b></p>
<%= @contacts.phone %>


<p><b> Email:</b></p>
<%= @contacts.email %>


<button type="submit">
Favorite
</button>
