<h1>Welcome to Sandwichr!</h1>

<% if user_signed_in? %>
	

	| <%= link_to "View Sandwiches", sandwiches_path %> | 
	

<% else %>

	| <%= link_to "Log In", new_user_session_path %> |       
	<%= link_to "Sign Up", new_user_registration_path %> |

<% end %>