<!-- views/home.erb --> 


<p>Hello, world! 
<br> Today is 
	<%= Date.today %>
<br> <br> 
<a href='/company'> See company page </a> 
<br> 
<a href='/about'> Visit About Me</a>
<br>
<a href='/pizza'> Favorite Pizzas</a>
</p>
