<!--views/create_new_post.erb-->


<h1> C R E A T E </h1>

<form action="/submit_post" method="POST">

<label for="title"> <em>Post Title</em>:</label> 
<input type="text" name="title" placeholder="Hello, World!">

<label for="date"> <em>Date</em>:</label> 
<input type="text" name="date" placeholder="16/08/25">

<label for="content"> <em>Content</em>:</label> 
<input type="text" name="content" placeholder="I have important thoughts that I need to share wit da internet">

<button type="submit">Post!</button>

</form>
