<!-- views/home.erb --> 
<h1> Online Calculator </h1>

<p>Hello! Ready to become a #mathlete? 
<br> Remember this day: <%= Date.today %>
<br>Cause you're gonna enter greatness...
<br> <br>
<a href='/add'> Add </a> 
<br> 
<a href='/subtract'> Subtract </a>
<br>
<a href='/multiply'> Multiply </a>
<br>
<a href='/divide'> Divide </a>
</p>
