<!DOCTYPE html>
<html>
  <head>
    <title>MusicFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  	<h1> Find Your Jam </h1>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
  <p>____________________________________________________</p>
  	Powered by: 
  	<br>
  	<img src="https://media.giphy.com/media/3oEduIaD2iaw2lr476/giphy.gif" width="5%"> 
  </footer>
</html>
