code {
	background: #2db34a;
	border-radius: 6px;
	color: #fff;
	display: block;
	padding: 24px 15px;
	text-align: center;

}

section {
	position: absolute;
	top: 200px;
	left: 400px;
}
header,
aside,
footer {
	margin: 0 1.5% 24px 1.5%;
	position: relative;
	top: 200px;
	left: -400px;
}

.image-container {
	overflow: auto;
	margin-top: 200px;
}
img {
	width: 200px;
	float: right;
}