#logo {
	display: block;
	margin-top: 6px;
	margin-left: 150px;
	margin-bottom: 8px;
}

#logo img {
	height: 30px;
	width: 30px;
}

#home-icon {
	margin-left: 10px;
}

.glyphicon {
	color: #847f7f;
	font-size: 18px;
	margin-top: 6px;
	padding-right: 2px;
}

strong {
	padding-right: 2px;
}

body {
	font-family: "Helvetica Neue";
}

.thumbnail {
	width: 16%;
}

#profile-photo {
	width: 75%;
	position: relative;
	top: -100px;
	left: 20px;
}

#left-icons {
	margin-top: 6px;
}

#mini-thumbnail {
	position: relative;
	top: 8px;
	right: -180px;
}

.stats-text {
	font-size: 12px;
	color: #847f7f;
	margin-top: 18px;
	margin-left: 10px;
	word-spacing: 30px;
}

h4 {
	position: relative;
	top: -110px;
	left: 18px;
}

#tweets {
	background-color: #e6e6e6;

}

p {
	color: #9c9ea9;
	position: relative;
	top: -119px;
	left: 18px;
}

