#logo {
	display: block;
	margin-top: 6px;
	margin-left: 150px;
	margin-bottom: 8px;
}

#logo img {
	height: 30px;
	width: 30px;
}

#cover {
	width: 90%;
}

#home-icon {
	margin-left: 10px;
}

.glyphicon {
	color: #847f7f;
	font-size: 18px;
	margin-top: 6px;
	padding-right: 2px;
}

strong {
	padding-right: 2px;
}

body {
	font-family: "Helvetica Neue";
}

.thumbnail {
	width: 16%;
}

#profile-photo {
	width: 75%;
	position: relative;
	top: -100px;
	left: 20px;
}

#stats {
	border-style: solid;
	border-width: 1px;
	border-color: #847f7f;
}

#left-icons {
	margin-top: 4px;
}