#logo {
	display: block;
	margin-top: 6px;
	margin-left: 150px;
	margin-bottom: 8px;
}

#logo img {
	height: 30px;
	width: 30px;
}

#home-icon {
	margin-left: 10px;
}

.glyphicon {
	color: #847f7f;
	font-size: 18px;
	margin-top: 6px;
	padding-right: 2px;
}

strong {
	padding-right: 2px;
}

body {
	font-family: "Helvetica Neue";
}

.thumbnail {
	width: 16%;
}

#profile-photo {
	width: 75%;
	position: relative;
	top: -100px;
	left: 20px;
}

#left-icons {
	margin-top: 6px;
}

#mini-thumbnail {
	position: relative;
	top: -30px;
	right: -200px;
}

.search-input {
	display: block;
    width: 46%;
    height: 32px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    margin-top: 10px;
}

#search {
	position: absolute;
    top: 10px;
    right: 190px;
    display: block;
    width: 26px;
    height: 26px;
}

.stats-text {
	font-size: 12px;
	color: #847f7f;
	margin-top: 18px;
	margin-left: 10px;
	word-spacing: 30px;
}

h4 {
	position: relative;
	top: -110px;
	left: 18px;
}

#tweets {
	background-color: #e1e8ed;

}

p {
	color: #9c9ea9;
	position: relative;
	top: -119px;
	left: 18px;
}

