// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:   Helvetica, sans-serif;
$primary-color: #333;

.comment {
	border-style: solid;
	border-color: #333;
	width: 180px;
	padding: 8px;
}

.comments {
	border-style: solid;
	border-color: #333;
	width: 240px;
	padding: 5px;
	border-width: 2px;

}

