<h3> Concerts Happening Today: </h3>
<ul>
	<% @concerts_month.each do |concert| %>
<li>
<%= link_to concert.artist, concert_path %>
</li>
<%end%>
</ul>

<h3> Concerts Happening This Month: </h3>
<ul>
<% @concerts_today.each do |concert| %>
<li>
<%= link_to concert.artist %>
</li>
<% end %>
</ul>

<br>
<footer>
	<h4> <%= link_to "Add Concert", new_concert_path %> </h4>

	<h4> <%= link_to "View All Concerts", concerts_path%> </h4>
</footer>
