<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" type="text/css" href="/stylesheet.css">

	<title></title>
</head>
<body>
	<h1> Welcome, Movie Lovers!</h1>

	<a href='/search'>Play Movie Trivia</a>
</body>
</html>