<h1> Welcome, Movie Lovers!</h1>

<p> Search for your favorite movie(s)!</p>
<form action="/search" method="POST">

<label for="movie_title"> <strong>Movie Title</strong>:</label> 
<input type="text" name="movie_title" placeholder="Frozen">

<button type="submit">Search</button>

</form>
