<h1>Search for your favorite movie!</h1>

<form action="/submit_search" method="POST">

<label for="movie_title"> <strong>Movie Title</strong>:</label> 
<input type="text" name="movie_title" placeholder="Frozen">

<button type="submit">Search</button>

</form>