<h4> Your Text:</h4>
<div>
<p> <%= @text %> </p>
</div>


<h4> Word Count: <%= @word_count %> </h4>

<p> According to <a href="https://medium.com/">Medium</a>,</p>

<p>
<b>Read time is based on the average reading speed of an adult (roughly 275 WPM). We take the total word count of a post and translate it into minutes.</b>
</p>

<p>Your text has <%= @wordcount %> words and will take you about <%= @count %> minutes to read. </p>

<footer>
	<a href="/">Return Home </a>
</footer>
