.logo {
	position: absolute;
	top: 0px;
	left: 30px;
}

.cover {
	background-image: url("images/family.jpg");
	background-size: cover;
	width: auto; 
	height: 800px;
}

.signin {
	font-family: "Proxima Nova";
	color: #fff;
	font-size: 16px;
	font-weight: lighter;
	background-color: #F51818;

	padding-top: 8px; 
	padding-bottom: 8px;
	padding-right: 35px;
	padding-left: 35px;

	position: absolute;
	top: 12px;
	right: 32px;

	margin-top: 20px;
}


.bannertext {
	font-family: "Proxima Nova"; 
	font-weight: bold;
	font-size: 42px;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);

	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 80px;

	width: 40%;

	margin-top: -530px;
	margin-bottom: 50px;
	margin-left: 340px;
	margin-right: 300px;
}

.button {
	background-color: #469DF6;
	font-family: "Proxima Nova"
	font-size: 20px;
	font-weight: lighter;
	color: #fff;
	display: block;
	
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 18px;
	padding-left: 18px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

	border-radius: 0px;
	border: none;
}

#subheading {
	font-family: "Proxima Nova";
	font-weight: bold;
	font-size: 30px;

	margin-top: 350px;
	margin-left: 40px;
}

#posters {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}
